<router-outlet></router-outlet>

<footer class="fixed bottom-0 w-full text-white">
  <div class="border-gray-200 sm:mx-auto dark:border-gray-700">
      <a href="#" class="flex items-center justify-center mb-5 text-2xl font-semibold text-gray-900 dark:text-white">
        <img class="w-8 h-8 mr-2" src="../../assets/ecommerce-shop-transaction-svgrepo-com.svg" alt="logo">
        tokenCrawl
      </a>
      <span class="block text-sm text-center text-gray-500 dark:text-gray-400">&copy; 2023 Ekim Basoglu All Rights Reserved. Built by <a href="https://github.com/ekimbasoglu/demo-transaction-crawler" class="text-blue-800 hover:underline" >Ekim Basoglu</a>
      </span>
  </div>
</footer>
